{% extends 'recipients/style_modal.html' %}
{% block content %}
<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog"
     id="modalSheet">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-3">
                <p class="card-text"><strong>Период рассылки:</strong> {{ object.sending_period }} </p>
                <p class="card-text"><strong>Сообщение рассылки:</strong> {{ object.message }} </p>
                {% for item in object.recipients.all %}
                <p class="card-text"><strong>Получатели рассылки:</strong> {{ item }} </p>
                {% endfor %}
                <p class="card-text"><strong>Конец рассылки:</strong> {{ object.end_time }} </p>
                <p class="card-text"><strong>Дата и время первой отправки рассылки:</strong> {{ object.first_datetime }}
                </p>
                <p class="card-text"><strong>Статус рассылки:</strong> {{ object.settings_status }} </p>
                <div class="group">
                </div>

                <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                    {% if user == object.owner or user.is_superuser or perms.mailing.change_mailingsettings_settings_status %}
                    <a class="btn btn-lg btn-warning" href="{% url 'mailing:settings_edit' object.pk %}" role="button">Изменить</a>
                    {% endif %}
                    {% if user == object.owner or user.is_superuser %}
                    <a class="btn btn-lg btn-danger" href="{% url 'mailing:settings_delete' object.pk %}" role="button">Удалить</a>
                    {% endif %}
                    <a class="btn btn-lg btn-secondary" href="{% url 'mailing:settings_list' %}" role="button">Назад</a>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
{% endblock %}