{% extends 'recipients/style_modal.html' %}
{% block content %}
<div class="modal modal-sheet position-static d-block p-4 py-md-5">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-lg">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                     <a class="btn btn-lg btn-secondary" href="{% url 'mailing:list' %}" >Назад</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}